.btn {
  padding: 0.7rem 1.5rem;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 1rem;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  border: none;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  text-decoration: none;

  &.main {
    background-color: var(--fg);
    color: var(--bg);
  }

  &.outline {
    background-color: transparent;
    color: var(--fg);
    border: 2px solid var(--fg);

    &:hover {
      background-color: var(--fg);
      color: var(--bg);
    }
  }

  &.small {
    font-size: 0.8rem;
  }
}
