.card {
  padding: 1rem;
  border: 2px solid var(--secondary-color);
  width: 100%;
  border-radius: 8px;
  transition: all 0.3s ease-in-out;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  &.inverted {
    background-color: var(--secondary-color);
    color: var(--main-color);
  }

  &.interactive {
    cursor: pointer;
  }

  & &-info {
    font-size: 0.9rem;
    font-family: var(--font-family-body);

    &.important {
      font-weight: bold;
    }

    &.secondary {
      font-style: italic;
    }
  }

  & &-title {
    text-transform: uppercase;
    font-size: 1.5rem;

    &.multiple {
      font-size: 1.3rem;
    }
  }
}
