.card {
  padding: 1rem;
  border: 2px solid var(--secondary-color);
  width: 100%;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.card.inverted {
  background-color: var(--secondary-color);
  color: var(--main-color);
}

.card .card-info {
  font-size: 0.9rem;
  font-weight: bold;
}

.card .card-description {
  font-size: 0.9rem;
  font-style: italic;
}

.card h2 {
  text-transform: uppercase;
  font-size: 1.5rem;
}

.card p {
  font-family: var(--font-secondary);
}

.page-container {
  flex: 1;
  width: 100%;
  padding: 0 5%;
  margin-top: 140px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 2rem;

  padding-bottom: 2rem;
}

.page-container h1 {
  text-transform: uppercase;
  font-size: 3rem;
  text-align: center;
}
