@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

@font-face {
  font-family: 'Norwester';
  src: url('/fonts/norwester.otf') format('opentype');
}

:root {
  --bg-color: #1B3720;
  --main-color: #1B3720;
  --secondary-color: #EFE8D2;

  --font-family-title: 'Norwester';
  --font-family-body: 'Noto Sans', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--bg-color);
  color: var(--secondary-color);
  font-family: var(--font-family-body);
}

h1 {
  font-size: 64px;
  line-height: 1;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-family-title);
}

.gsapped-in {
  opacity: 0;
}
