* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--bg);
  color: var(--fg);
  font-family: var(--font-family-body);
}

h1 {
  font-size: 64px;
  line-height: 1;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-family-title);
}

.gsapped-in {
  opacity: 0;
}

a {
  color: var(--fg);
  text-decoration: none;
}
