---
import '../styles/global.css';

import Logo from '../components/Logo.astro'
import Tigullio from '../components/Tigullio.astro'
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<main>
			<section class="tigullio-section">
				<Tigullio />
			</section>
			<section class="logo-section">
				<Logo />
			</section>
			<h1>Tigullio <br /> Verticale</h1>
		</main>
	</body>
</html>

<style>
	main {
		height: 100vh;
		width: 100vw;
		position: relative;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
	}

	.tigullio-section {
		position: fixed;
		top: 0;
		right: 0;
		left: 0;
	}

	.logo-section {
		width: 250px;
		margin-bottom: 0.5rem;
	}

	h1 {
		text-align: center;
	}

	@media screen and (min-width: 1200px) {
		main {
			flex-direction: row;
		}

		h1 {
			text-align: left;
		}

		.tigullio-section {
			display: none;
		}

		.logo-section {
			margin-right: 1.5rem;
		}
	}
</style>
