---
import Layout from '../layouts/Layout.astro'	
import Logo from '../components/Logo.astro'
---
<Layout title="Tigullio Verticale">
	<section class="load-animation logo-section">
		<Logo />
	</section>

	<h1 class="load-animation">Tigullio <br /> Verticale</h1>
</Layout>

<script src='../scripts/home/animations.ts' />

<style>
	.logo-section {
		width: 250px;
		margin-bottom: 0.5rem;
	}

	h1 {
		text-align: center;
	}

	@media screen and (min-width: 1200px) {
		h1 {
			text-align: left;
		}

		.logo-section {
			margin-right: 1.5rem;
		}
	}
</style>
