---
import Layout from "@/layouts/Layout.astro";
---

<Layout title="Newsletter">
	<div class="page full">
		<h1 class="page-title">Newsletter</h1>
		<span class="text-center">Grazie per esserti iscritto alla nostra newsletter!</span>
		<a href="/">Torna alla Home</a>
	</div>
</Layout>

<style scoped>
a {
	margin-top: 1rem;
	text-decoration: none;
	color: var(--secondary-color);
	padding: 0.5rem 1rem;
	border: 1px solid var(--secondary-color);
	border-radius: 8px;
}
</style>


